* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 70%;


/*               NAVBAR STYLING STARTS HERE!              */

 
}
.navbarr {
  background-color: rgb(13, 18, 29);
}
.navbar-brand{
    font-size: 2.5rem;
    color: #18EC98 !important;
}
.navbar li a {
  color: #cbd5e0;
  font-size: 1.5rem;
  padding: 10px 0px;
  
}
.navbar li {
  padding: 0px 15px;
  color: #cbd5e0;
}
.navbar li a:hover {
  color: #18EC98 !important;
}
.btn-styl{
  color: black ;
  background-color: #18EC98;
  border: none;
  font-family:"Poppins", sans-serif ;
  padding: 7px 20px;
  border-radius: 5px;
  margin:0px 30px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-styl:hover {
  background-color: rgb(13, 18, 29);
  color: #18EC98;
  border: 1px solid #18EC98 ;
}
.toogle-btn{
  color:white;
  background-color: transparent;
  border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
 
/*               NAVBAR STYLING ENDS HERE!       26262B       */


/*               HEADER STYLING STARTS HERE!              */

header{
  height: 100vh;
  width: 100%;
  background-color:rgb(13, 18, 29) ;
}

.main-hero-container{
  height: 80vh;
  display: flex;
  padding: 20px;
}
.main-hero-container h1{
  color: #cbd5e0;
  font-size: 40px;
  font-weight: normal ;
}
.main-hero-container button{
  background-color: #18EC98;
  padding:12px 27px;
  border-radius: 8px;
  font-size: 18px;
  margin-top: 30px;
  border: none;
}
.main-hero-container button:hover{
  border: 1px solid #18EC98;
  background-color:rgb(13, 18, 29);
  color: #18EC98;
}
.main-hero-container img{
   height: 80%;
   border-image-width: 80%;
}
.main-hero-para {
  font-size: 1.5rem;
  color: #cbd5e0;
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: 75%;
}

/*               HEADER STYLING ENDS HERE!              */

/*               WORKS STYLING STARTS HERE!              */

.work-container {
  width: 80vw;
  padding: 5rem;
  box-shadow: 0px -8px 3rem 3px #18EC98;
  margin-top: -10rem !important;

  background-color: rgb(13, 18, 29);
  border-radius: 0.5rem;
}

.work-container h1{
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 4rem;
  word-spacing: 1rem;
  color: white !important;
}

.work-container-subdiv {
  padding: 0 6rem;
}

.worksDiv h2 {
  font-size: 2rem;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  color: white !important;
  
}

.fontawesome-style {
  font-size: 2.3rem;
  color:rgb(13, 18, 29);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #18EC98 ;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 2rem auto;
}
.work-container p{
  color: #cbd5e0;
}


/*               WORKS STYLING ENDS HERE!              */

/*               WHEN TO USE STYLING STARTS HERE!              */

/*  THE STYLING HAS BEEN DONE USING TAILWIND TO GET
    SEEMLESS & RESPONSIVE CHAIN LINK DESIGN :) */

/*             WHEN TO USE STYLING ENDS HERE!              */

/*                FAQ STYlING STARTS HERE                  */

.accordion {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-bottom: 70px;
}

.accordion_item {
  border-top: 1px solid #c2c2c2;
}

.button-faq {
  font-size: 20px;
  background-color: transparent;
  color:rgb(13, 18, 29) ;
  text-align: left;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  cursor: pointer;
  border: none;
  width:100%;

}

.control {
  font-size: 30px;
  color: #18EC98;
  padding-left: 30px;
  padding-right: 30px;
}

.answer {
  background-color: #cbd5e0;
  padding: 20px;
}

.accordion_item.active .button {
  background-color: #000000;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
}

/*                FAQ STYlING ENDS HERE                  */

/*                FOOTER STYlING STARTS HERE                  */

footer {
  padding: 5rem 2rem;
  background-color: rgb(13, 18, 29);
  color: #cbd5e0;
}

footer h2 {
  color: #fff;
}

footer li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
}

footer a:hover {
  color: #18EC98;
}

footer .fontawesome-style:hover {
  transition: all 1s;
  color: #fff;
}


footer .main-hero-para {
  margin: 0;
}
.icon-styling{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.icon-styling .itemss{
  height: 10px;
  width: 10px;
}


/*                FOOTER STYlING STARTS HERE                  */

/*  AIRDROP FUNCTIONALIY PAGE STARTS HERE */

.airdrop-main{
  background-color: #f1f3f5 ;
}
.wallet-btn-container{
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.airdrop-head{
  font-size: 30px;
  margin-bottom: 65px;
  margin-top: 30px;
  font-weight: 550;
}

.main-label{
  font-size: 1.8rem;
  color: rgb(13, 18, 29);
  padding: 1.5rem 3rem;
}
.sol-token-label{
  color: rgb(13, 18, 29);
  font-size: 1.5rem;
  margin: 1.5rem 0.7rem;
}
.spl-token-label{
  color: rgb(13, 18, 29);
  font-size: 1.5rem;
  margin: 1.5rem 0.7rem;
  margin-left: 7rem;
}

/*  AIRDROP FUNCTIONALIY PAGE ENDS HERE */


/*  RESPONSIVE DESIGN CHANGES STARTS */

@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px !important;
  }
}

@media (max-width: 400px){
  .airdrop-head{
    margin-left: 20px ;
    margin-right: 20px ;
  }
  .main-hero-container h1{
    font-size: 28px;
    margin-bottom: 30px;
    align-items: center;
  }
  .work-container-subdiv {
    padding: 0 15px;
  }
  .airdrop-head{
    margin-top: 10px;
    margin-bottom: 60px;
  }
  .main-label{
    padding-top: 10px;
  }
  .main-hero-container button{
    margin-top: 10px;
   margin-left: 90px;
   margin-right: 90px;
  }
}
/*  RESPONSIVE DESIGN CHANGES ENDS */
